body {
  margin: 0;
  padding: 0;
}
.menu {
  background-color: rgb(196, 8, 8);
  height: 100px;
  color: #ffffff;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}
